<!DOCTYPE html>

<HTML>
    <head>
        <title>About</title>
        <link rel="icon" href="/css/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site created by Cagatay Cinkir. It uses data from mapbox.com and weatherstack.com</p>
            <p>Forecast App</p>        
        </div>

        {{>footer}}
    </body>
</HTML>